{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <div class="row">
        <div class="col" align="center">
            <h2>Accueil</h2>
            <br>
        </div>
    </div>
     <div class="row">
        <div class="col" align="right">
            <h4>Date du jour : {{ "now"|date("m/d/Y") }}  </h4>
            <h4>Participant:</h4>

            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Filtrer les sites</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <form class="d-flex">
                <label for="site">Site: </label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Villes</option>
                    <option value="1">Angers</option>
                    <option value="2">Nantes</option>
                    <option value="3">Niort</option>
                </select>               
            </form>
             <form class="d-flex">
                <label for="rechercher">Le nom de la sortie contient: </label>
                <input id="rechercher" class="form-control me-2 rechercher" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-4">

           <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Sortie dont je suis l'organisateur/trice
                </label>
            </div>

            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
                    Sortie auxquelles je suis inscrit/e
            </label>
            </div>

             <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
                    Sortie auxquelles je ne suis pas inscrit/e
            </label>
            </div>

             <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
            <label class="form-check-label" for="flexCheckChecked">
                    Sortie passées
            </label>
            </div>

        </div>
         <div class="col-4">
          <form class="d-flex">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
        </div>
    </div>


</div>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom de la sortie</th>
      <th scope="col">Date de la sortie</th>
      <th scope="col">Clôture</th>
      <th scope="col">inscrits/places </th>
      <th scope="col">Etats </th>
      <th scope="col">Inscrit </th>
      <th scope="col">Organisateur </th>
       <th scope="col">Actions </th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
{% endblock %}
