{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div >
    <div class="row">
        <div class="col" align="center">
            <h2>Accueil</h2>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Filtrer les sites</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form class="d-flex">
                <label for="rechercher">Le nom contient: </label>
                <input id="rechercher" class="form-control me-2 rechercher" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-6"></div>
    </div>


</div>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom de la sortie</th>
      <th scope="col">Date de la sortie</th>
      <th scope="col">Clôture</th>
      <th scope="col">inscrits/places </th>
      <th scope="col">Etats </th>
      <th scope="col">Inscrit </th>
      <th scope="col">Organisateur </th>
       <th scope="col">Actions </th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
{% endblock %}
