{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-7" align="center">
        <H1>Je change mon avatar</H1>
         </div>
        <div class="col-3"></div>
    </div>
       <div class="row">
        <div class="col-5">
            {% if app.user.photo %}
                <img src="uploads/{{ asset(app.user.photo) }}" alt="Avatar" width="50%" class="antoine">
            {% else %}
                <img src="https://www.excel-downloads.com/data/avatars/o/362/362988.jpg?1637756820" alt="Avatar" width="50%" class="antoine">
            {% endif %}
        </div>

        <div class="col-5 ">
            {{ form_start(formPhoto) }}

            {{ form(formPhoto) }}

            {{ form_end(formPhoto) }}
        </div>


    </div>
</div>
{% endblock %}
